<section>
    <h2>OUR MENU</h2>
        <table>
            <tr>
                <td><img src="../../../assets/images/r1.png" alt="ramen1"></td>
                <td>
                    <h3>Tonkasu Ramen</h3>
                    <tr>
                        <td>CHICKEN</td>
                        <td>11,95€</td>
                    </tr>
                    <tr>
                        <td>BEEF</td>
                        <td>12,95€</td>
                    </tr>
                    <tr>
                        <td>SHRIMP</td>
                        <td>13,95€</td>
                    </tr>
                </td>
            </tr>
            <tr>
                <td>
                    <h3>Spicy Miso Ramen</h3>
                    <tr>
                        <td>CHICKEN</td>
                        <td>11,95€</td>
                    </tr>
                    <tr>
                        <td>BEEF</td>
                        <td>12,95€</td>
                    </tr>
                    <tr>
                        <td>SHRIMP</td>
                        <td>13,95€</td>
                    </tr>
                </td>
                <td><img src="../../../assets/images/r2.png" alt="ramen1"></td>
            </tr>
            <tr>
                <td><img src="../../../assets/images/r3.png" alt="ramen1"></td>
                <td>
                    <h3>Shio Ramen</h3>
                    <tr>
                        <td>CHICKEN</td>
                        <td>11,95€</td>
                    </tr>
                    <tr>
                        <td>BEEF</td>
                        <td>12,95€</td>
                    </tr>
                    <tr>
                        <td>SHRIMP</td>
                        <td>13,95€</td>
                    </tr>
                </td>
            </tr>
        </table>
</section>
