<section>
    <h2>HOW TO ORDER</h2>
    <div class="hto-content">
        <div>
            <img src="../../../assets/images/bowl_icon.jpg" alt="bowl">
            <p>Pick<br>Your Noodle</p>
        </div>
        <div>
            <img src="../../../assets/images/broth_icon.png" alt="broth">
            <p>Pick<br>Your Broth</p>
        </div>
        <div>
            <img src="../../../assets/images/eggs_icon.jpg" alt="eggs">
            <p>Add Your <br> Toppings</p>
        </div>
    </div>
</section>